body{
    background: linear-gradient(45deg, rgb(115, 207, 157), #282C35);
    height: 90%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
}
 
h1{
    color: whitesmoke;
    position: absolute;
    top: 450px;
    left: 370px;
}
p{
    color: whitesmoke;
}
.main_div{
    border-radius: 10%;
    border-color: aliceblue;
    height: 70%;
    color: aliceblue;
    margin-left: 150px;
}
 
img{
    width: 450px;
    height: 350px;
    position: absolute;
    left: 240px;
    top: 80px;
    border-radius: 15%;
}
p{
    color: whitesmoke;
    position: absolute;
    top: 500px;
    left: 430px;
}
#prev{
    background-color: rgb(235, 142, 142);
    border: none;
    border-radius: 40%;
    position: absolute;
    top: 550px;
    left: 340px;
}
#play{
    background-color: rgb(235, 142, 142);
    border-radius: 40%;
    border: none;
    position: absolute;
    top: 550px;
    left: 430px;
}
#next{
    background-color: rgb(235, 142, 142);
    border: none;
    border-radius: 40%;
    position: absolute;
    top: 550px;
    left: 510px;
}
.prev{
    color: whitesmoke;
    height: 5vh;
}